*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 80vw;
    width: 70vw;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insert-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 70px;
    background-color: #522B47;
}

#to-do-input {
    width: 600px;
    height: 30px;
    padding-left:20px;
    font-size: 16px;
    border: 1px #CCCCCC solid;
    border-radius: 1px;
    background-color: #FFFFFF;
    color: #000000;
}

#to-do-input:focus {
    outline:none;
}

#insert{
    box-shadow:inset 0px 1px 0px 0px #FBF5F3;
	background-color:#FBF5F3;
    border: 1px solid #FBF5F3;
	display:inline-block;
	cursor:pointer;
	color:#522B47;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
    height: 30px;
    width: 100px;
}

#insert:hover{
  transform: scale(1.05);
}

#insert:active {
	position:relative;
	top:1px;
}

.display-container{
    width: 100%;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 201, 201);
}

.todo-item p{
    padding: 5px 10px;
}

.todo-item .span-delete{
    padding: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}